/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

div {
    margin: auto;
    width: 300px;
    background-color: #EEEFF1;
    border-radius: 5px;
    text-align: center;
    padding:20px;
}

input {
    width: 100%;
}

.in {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #9b9b9b;
    font-size: 12px;
}



/* 로고 이미지 스타일 */
.logo {
    width: 100px; /* 로고 이미지의 가로 크기 조정 */
    height: auto; /* 비율에 맞게 세로 크기 자동 조정 */
    margin-bottom: 20px; /* 로고와 제목 사이 간격 조정 */
}

/* 로그인 제목 스타일 */
.login-title {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;

}

/* 로그인 컨테이너 스타일 */
.login-container {
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

/* 로그인 폼 스타일 */
.login-form {
    display: flex;
    flex-direction: column;
}

/* 로그인 폼 입력 필드 스타일 */
.login-form input[type="text"],
.login-form input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.text-small {
    font-size: 10px;
    text-align: center;
    flex-direction: column;
}

/* 로그인 버튼 스타일 */
#btn {
    background-color: #1BBC9B;
    margin-bottom: 30px;
    color: white;

    width: 200px;
    height:50px;
    margin: 0 auto;
}

#btn:hover {
    background-color: #0056b3;
}

/* 에러 메시지 스타일 */
.error-message {
    color: #ff0000;
    margin-top: 10px;
}

/* 링크 스타일 (비밀번호 재설정 등) */
.login-form a {
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
}

.login-form a:hover {
    text-decoration: underline;
}






