<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MGOS-SignIn</title>
  <link href="../css/login.css" rel="stylesheet" />
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/MGOS_Icon.png" />
</head>
<body>






<div class="login-container">

  <img src="assets/img/Logo_With_NoBg.png" alt="로고" class="logo">
  <h2 class="login-title">MGOS Login</h2>
  <form class="login-form" action="/login" method="post">




      <div class="login-form input">



        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" class="in" required><br>


        <label for="password">Password</label>

        <input type="password" id="password" name="password" class="in" required><br>



        <button id="btn" type="submit">Submit</button>


        <a class="login-form" type="text-small" href="#"><b>Forgot your E-mail</b></a>
        <a class="login-form" type="text-small" id="gotoSignup"><b>Sign Up</b></a>

        <script>
          document.getElementById('gotoSignup').addEventListener('click', function () {
            // 경고 메시지 표시
            alert("회원가입을 진행하기 위하여 회원가입 페이지로 이동합니다.");

            // 로그인 페이지 이동
            window.location.href = "/signup";
          });
        </script>






  </div>
  </form>
</div>
</body>
</html>
