<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MGOS-SignUp</title>
    <link href="../css/signup.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/MGOS_Icon.png" />
</head>
<body>
    <div class="signUp-container">
        <img src="assets/img/Logo_With_NoBg.png" alt="로고" class="logo">
        <h2 class="signUp-title">Dot Coloseum Create Account</h2>


        <form class="signUp-form" action="/signup" method="post">
            <div class="signup-form input">

                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="in" onblur="checkEmail()" required><br>
                <p id="emailError"></p>

                <label for="pwd">Password</label>
                <input type="text" id="pwd" name="pwd" class="in"  required><br>


                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="in" required><br>

                <label for="cp">C.P (Cell Phone) ['-' 포함 X]</label>
                <input type="text" id="cp" name="cp" class="in" required><br>

                <button id="btn" type="submit" href="index">Submit</button>

                <script>
                    function checkEmail() {
                        var email = document.getElementById('email').value;

                        // 정규식을 이용한 이메일 형식 체크
                        var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
                        if(!emailRegex.test(email)) {
                            document.getElementById('emailError').textContent = '올바른 이메일 형식이 아닙니다.';
                            return;
                        }


                        fetch('/check-email?email=' + email)
                            .then(response => response.text())
                            .then(data => {
                                if (data === '이미 사용중인 이메일입니다.') {
                                    document.getElementById('emailError').textContent = data;
                                } else {
                                    document.getElementById('emailError').textContent = '사용 가능한 이메일 입니다!';
                                }
                            });
                    }
                </script>

            </div>
        </form>
    </div>


</body>
</html>