<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MGOS-SignUp</title>
    <link href="../css/signup.css" rel="stylesheet" />
</head>
<body>
    <div class="signUp-container">
        <img src="assets/img/Logo_With_NoBg.png" alt="로고" class="logo">
        <h2 class="signUp-title">Dot Coloseum Create Account</h2>


        <form class="signUp-form" action="/signup" method="post">
            <div class="signup-form input">

                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="in" required><br>

                <label for="pwd">Password</label>
                <input type="text" id="pwd" name="pwd" class="in" required><br>

                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="in" required><br>

                <label for="cp">C.P (Cell Phone) ['-' 포함 X]</label>
                <input type="text" id="cp" name="cp" class="in" required><br>

                <button id="btn" type="submit" href="index">Submit</button>
            </div>
        </form>
    </div>


</body>
</html>