<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link href="../css/game.css" rel="stylesheet" />
</head>
<body>
<div class="footer">

  <ul class="comment">
    <li class="comment-form">
      <form id="commentForm">
        <h2>댓글 입력 <span></span></h2>
        <span class="txt-box">
              <input type="text" placeholder="댓글 내용을 입력해주세요." class="content" name="content" />
            </span>
        <input type="submit" class="btn" value="등록" />
      </form>
    </li>
    <li id="comment-list"></li>
  </ul>
</div>
</body>
</html>